extends layout

block content
        h1 Administracija anketa
        div.row
            div.col-md-12
                .panel.panel-primary
                    div.panel-heading
                        span    Unijete ankete
                        a.pull-right.btn.btn-success(href='/admin/create') Kreiraj novu anketu

                    .panel-body
                        div.ankete
                            if total > 0
                                table.table.table-striped
                                    thead
                                        tr
                                            th #
                                            th Naziv
                                            th Opis
                                            th Akcije
                                    tbody
                                        for row in rows
                                            tr
                                                th #{row.id}
                                                td #{row.title}
                                                td #{row.description}
                                                td(style='width:251px')
                                                    a.btn.btn-primary(href='/admin/questions/#{row.id}') Uredi
                                                    if row.is_active === 1
                                                        a.btn.btn-warning(href='/admin/deactivate/#{row.id}') Deaktiviraj
                                                    else if row.is_active === 0
                                                        a.btn.btn-success(href='/admin/activate/#{row.id}') Aktiviraj
                                                    a.btn.btn-danger(href='/admin/delete/#{row.id}') Obriši
                            else
                                h3 Trenutno nema kreiranih anketa!
                if total > rows.length
                    nav(aria-label='Page navigation')
                        ul.pagination

                            -var prevPage = page -1;
                            -var nextPage = page +1;
                            if(page > 1)
                                li
                                    a(href='/admin?page=#{prevPage}', aria-label='Previous')
                                        span(aria-hidden='true') «

                            - for (i = 1; i< (total/2)+1; i++){
                                li(class="#{ i === page ? 'active' : '' }")
                                    a(href='/admin?page=#{i}') #{i}
                            -}
                            if(page*2 < total)
                                li
                                    a(href='/admin?page=#{nextPage}', aria-label='Next')
                                        span(aria-hidden='true') »
