extends layout

block content
    div.container
        h1 Kreiranje nove ankete
        form.form-group(action='',method='POST')
            label(for='naziv') Naziv
            input#naziv.form-control(type='text', placeholder='Naziv', name='naziv' required)

            div.form-group
                label(for='opis') Opis
                textarea#opis.form-control( name='opis' placeholder='Opis' required rows="7")

            button.btn.btn-primary(type='submit') Sačuvaj