extends layout

block content
    br
    div.row
        div.col-md-12
            .panel.panel-primary
                div.panel-heading
                    span  Dostupne ankete

                .panel-body
                    div.ankete
                        if total > 0
                            table.table.table-striped
                                thead
                                    tr
                                        th #
                                        th Naziv
                                        th Opis
                                        th Akcije
                                tbody
                                    for row in rows
                                        tr
                                            th #{row.id}
                                            td #{row.title}
                                            td #{row.description}
                                            td(style='width:181px')
                                                if (row.gid)
                                                    a.btn.btn-primary(href='/users/answers/#{row.id}') Pogledaj
                                                else
                                                    a.btn.btn-success(href='/users/questionnaire/#{row.id}') Popuni

                        else
                            h3 Trenutno nema kreiranih anketa!
            if total > rows.length
                nav(aria-label='Page navigation')
                    ul.pagination
                        li
                            a(href='#', aria-label='Previous')
                                span(aria-hidden='true') «
                        li
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a(href='#') 3
                        li
                            a(href='#') 4
                        li
                            a(href='#') 5
                        li
                            a(href='#', aria-label='Next')
                                span(aria-hidden='true') »
