extends layout

block content

    h1 Login

    div.container

        form.form-group.login-form(action='/login',method='POST')
            label(for='exampleInputEmail1') Email address

            input#exampleInputEmail1.form-control(type='email', placeholder='Email', name='email' required,email)

            div.form-group
                label(for='exampleInputPassword1') Password

                input#exampleInputPassword1.form-control(type='password', name='password' placeholder='Password', )

            button.btn.btn-primary(type='submit' ) Login

            h3=message