doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/javascripts/js.js')
    script(src='/btags/bootstrap-tagsinput.js')
    link(rel="stylesheet" href='/btags/bootstrap-tagsinput-typeahead.css')
    link(rel="stylesheet" href='/btags/bootstrap-tagsinput.css')
    link(rel="stylesheet" href='/stylesheets/input_styling.css')
    link(rel="stylesheet" href='/stylesheets/stars.css')

  body
    div#stars
    div#stars2
    div#stars3
    div.container-fluid
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') MOP Questionnaire
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              if session.type === 'user'
                -var lista_anketaClass =urlState === 'lista_anketa'?'active':'';
                li(class="#{lista_anketaClass}")
                  a(href='/users') Lista dostupnih anketa
              if session.type === 'admin'
                -var lista_anketaClass =urlState === 'lista_anketa'?'active':'';
                li(class="#{lista_anketaClass}")
                  a(href='/admin') Lista kreiranih anketa
              if !session.userId
                -var loginClass =urlState === 'login'?'active':'';
                -var registerClass =urlState === 'register'?'active':'';
                li(class="#{loginClass}")
                  a(href='/login') Login
                li(class="#{registerClass}")
                  a(href='/register') Register
               else
                 li.btn-group
                   a.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{session.fullName}
                     span.caret
                   ul.dropdown-menu
                    li
                      a(href='/logout') Log out
          // /.nav-collapse
      block content
