extends layout
block content
    br
    div.row
        div.col-md-12
            h1=title
            p=description
            form(method='post')
                div.list-group.lista-pitanja
                    - for (var [key, value] of data){
                    div.list-group-item(href='#')
                        h4.list-group-item-heading #{value['question']}
                        div.list-group-item-text
                            if(value['type'] === 'multi')
                                div.checkbox
                                - value['options'].forEach( (v, k) => {
                                div.from-group
                                    input(type="checkbox" value="#{k}" name="checkbox_#{value['question_id']}" id="#{value['question_id']}_#{k}" )
                                    label(for="#{value['question_id']}_#{k}" name="#{value['question_id']}") #{v}
                                        span
                                - });
                            else if (value['type'] === 'single')
                                div.checkbox
                                - value['options'].forEach( (v,k) => {
                                div.from-group
                                    input(type="radio" name="radio_#{key}" id="#{value['question_id']}_#{k}" value="#{k}")
                                    label(for="#{value['question_id']}_#{k}") #{v}
                                        span
                                - });
                            else
                                div.form-group
                                    input.form-control(type='text' name="text_#{key}")
                    - }
                 button.btn.btn-primary Sačuvaj