extends layout
block content
    div.container.dodavanje_pitanja
        h1 Uređivanje ankete
        div.row
            div.col-md-4
                h3 Odaberite tip pitanja
                .list-group
                    a.list-group-item#text(href='#')
                        h4.list-group-item-heading Tekstualno pitanje
                        p.list-group-item-text Od korisnika se očekuje da odgovor upiše u input polje..
                    a.list-group-item#single(href='#')
                        h4.list-group-item-heading Jedan odgovor
                        p.list-group-item-text Korisnik može odabrati jedan od ponuđenih odgovora..
                    a.list-group-item#multi(href='#')
                        h4.list-group-item-heading Više odgovora
                        p.list-group-item-text Korisnik može odgovoriti izborom više odgovora..
                    a.list-group-item#yes-no(href='#')
                        h4.list-group-item-heading Da/Ne
                        p.list-group-item-text Odgovor na ovo pitanje je da ili ne..

            div.col-md-8.question-def
                div.question-panel.text.yes-no
                    form(method='post')
                        .form-group
                            label() Unesite pitanje
                            textarea.form-control(rows='4' name='question' required)
                            input.qyestion-type(type='hidden' name='question_type')
                        button.btn.btn-primary(type='submit') Dodaj
                div.question-panel.single.multi
                    form(method='post')
                        .form-group
                            label() Unesite pitanje
                            textarea.form-control(rows='4' name='question' required)
                        .form-group
                            label() Unesite ponuđene odgovore
                            input.qyestion-type(type='hidden' name='question_type')
                            input#tags-input.form-control(type='text' data-role="tagsinput" required name='questions' placeholder='Opcije odvojite zarezom ili na enter')
                        button.btn.btn-primary(type='submit') Dodaj
        div.row
            div.col-md-12
                h3 Pitanja
                div.list-group.lista-pitanja
                    - for (var [key, value] of data){
                    div.list-group-item(href='#')
                            h4.list-group-item-heading #{value['question']}
                            div.list-group-item-text
                                a.btn.btn-danger.pull-right(href="/admin/questions/#{groupId}/#{value['question_id']}") Obriši
                                if(value['answers'].length > 0)
                                ul(class="#{value['type']}")
                                    - value['answers'].forEach( label => {
                                    li #{label}
                                        - });
                    - }
