extends layout

block content

    h1 Registracija

    div.container

        form.form-group.login-form(method='POST')
            div.form-group
                label(for='fullname') Ime i prezime
                input#fullname.form-control(type='text', placeholder='Ime i prezime', name='fullName' required)
            div.form-group
                label(for='email') Email address
                input#email.form-control(type='email', placeholder='Email', name='email' required,email)
            div.form-group
                label(for='password') Password
                input#password.form-control(type='password', name='password' placeholder='Password', )

            button.btn.btn-primary(type='submit' ) Registruj se

            p=message