body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #0f0c29
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29)
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29)
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important

div.panel-heading
  background-color: #221e4b !important
  min-height: 55px
  overflow: hidden
a
  color: #00B7FF

.login-form
  max-width: 500px
  margin: 100px auto 0 auto
  input
    margin-bottom: 20px

.ankete
  background-color: white
  color: gray

.pager,
.panel
  margin-top: 0
  margin-bottom: 0

.bootstrap-tagsinput
  width: 100%

.question-def
  margin-top: 46px

.dodavanje_pitanja
  padding: 10px
  -moz-box-shadow: inset 0 0 10px white
    -webkit-box-shadow: inset 0 0 10px white
    box-shadow: inset 0 0 10px white

ol.pitanja
  padding: 20px
  margin: 5px
  border: 2px solid white
  background-color: white

.lista-pitanja
  color: #333
  ul.multi
    list-style-type: square

  .list-group-item
    min-height: 80px

div.panel-heading
  @media screen and (min-width: 800px)
    span
      line-height: 40px
      font-size: 23px
  @media screen and (max-width: 800px)
    a
      text-align: center
      float: none !important
      display: block

.bootstrap-tagsinput
  input
    width: 100% !important